name: CD
'on':
  push:
    branches:
      - master
    tags:
      - v*
env:
  GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
  KEYSTORE_FILE: ${{ secrets.KEYSTORE_FILE }}
  KEYSTORE_PROPERTIES: ${{ secrets.KEYSTORE_PROPERTIES }}
  SERVICE_ACCOUNT_JSON: ${{ secrets.SERVICE_ACCOUNT_JSON }}
jobs:
  release:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: '21'
      - name: Setup Android SDK
        uses: android-actions/setup-android@v3.2.2
      - name: Create keystore file
        run: echo $KEYSTORE_FILE | base64 -di > ${{ github.workspace }}/app/release.jks
      - name: Create keystore.properties file
        run: echo $KEYSTORE_PROPERTIES | base64 -di > ${{ github.workspace }}/keystore.properties
      - name: Create Google Services JSON
        run: |
          mkdir ${{ github.workspace }}/app/src/prod
          echo $GOOGLE_SERVICES_JSON | base64 -di > ${{ github.workspace }}/app/src/prod/google-services.json
      - name: Create service account JSON
        run: echo $SERVICE_ACCOUNT_JSON | base64 -di > ${{ github.workspace }}/service-account.json
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          build-scan-publish: true
          build-scan-terms-of-use-url: "https://gradle.com/terms-of-service"
          build-scan-terms-of-use-agree: "yes"
      - name: Generate baseline profiles
        run: ./gradlew :app:generateProdReleaseBaselineProfile
      - name: Build release APK
        run: ./gradlew :app:assembleProdRelease
      - name: Build release bundle
        run: ./gradlew :app:bundleProdRelease
      - name: Upload Release Build to Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: release-artifacts
          path: |
            app/build/outputs/apk/prod/release/
            app/build/outputs/bundle/prodRelease/
      - name: Create GitHub release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          files: app/build/outputs/apk/prod/release/app-prod-release.apk
          generate_release_notes: true
      - name: Upload app to Google Play
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJson: ${{ github.workspace }}/service-account.json
          packageName: com.toquete.boxbox
          track: internal
          status: draft
          releaseFiles: app/build/outputs/bundle/prodRelease/app-prod-release.aab